.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
justify-content: space-evenly;
}

.App section {
  margin-right: 25px;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 200px;
  max-width: 600px;
}
